<div>
  <mat-form-field class="example-form-field">
    <mat-label>New task</mat-label>
    <input matInput type="text"
           #task
           (keyup.enter)="addTodo(task)"/>
    <button  mat-icon-button *ngIf="task.value" matSuffix aria-label="Save" (click)="addTodo(task)">
      <mat-icon color="primary">done</mat-icon>
    </button>
    <button  mat-icon-button *ngIf="task.value" matSuffix aria-label="Clear" (click)="task.value=''">
      <mat-icon color="accent">close</mat-icon>
    </button>
  </mat-form-field>
</div>
